<p class="navbar-btn">
    <a class="md-btn md-btn-primary md-btn-block md-btn-large">
        <span href="#" ng-hide="signedIn" ng-click="signIn()" >{{signInText}}</span>
        <span href="#" ng-show="signedIn" ng-click="signOut()">{{signOutText}}</span>
    </a>
</p>