    <div class="login_page_wrapper">
        <div class="md-card" id="login_card">
            <div class="md-card-content large-padding" id="login_form">
                <div class="login_heading">
                    <div class="user_avatar"></div>
                </div>
                <form>
                    <div class="uk-form-row">
                        <label for="login_username">Username</label>
                        <input class="md-input" type="text" id="loginUserName" ng-model="loginUserName" md-input />
                    </div>
                    <div class="uk-form-row">
                        <label for="login_password">Password</label>
                        <input class="md-input" type="password" id="loginPassword" ng-model="loginPassword" md-input />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a ng-click="login()" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign In</a>

                        <!--<oauth2 authorization-url="http://localhost:62266/identity/connect/authorize"-->
                                <!--sign-out-url="http://localhost:62266/identity/connect/endsession"-->
                                <!--sign-out-append-token="true"-->
                                <!--sign-out-redirect-url="http://localhost:8080/#/"-->
                                <!--client-id="Test"-->
                                <!--redirect-url="http://localhost:8080/#/"-->
                                <!--response-type="id_token token"-->
                                <!--scope="openid profile email"-->
                                <!--template='app/views/signInButton.tmpl.html'-->
                                <!--tenant="sgs"-->
                                <!--auto-generate-nonce="true">-->
                        <!--</oauth2>-->
                    </div>
                    <div class="uk-margin-top">
                        <a href="#" id="login_help_show" class="uk-float-right" ng-click="loginHelp($event)">Need help?</a>
                        <span class="icheck-inline">
                            <input type="checkbox" name="login_page_stay_signed" id="login_page_stay_signed" icheck ng-model="login_signed" />
                            <label for="login_page_stay_signed" class="inline-label">Stay signed in</label>
                        </span>
                    </div>
                </form>
            </div>
            <div class="md-card-content large-padding" id="login_password_reset" style="display: none">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToLogin($event)"></button>
                <h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
                <form>
                    <div class="uk-form-row">
                        <label for="login_email_reset">Your email address</label>
                        <input class="md-input" type="text" id="login_email_reset" ng-model="login_email_reset" md-input />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a ui-sref="restricted.dashboard" class="md-btn md-btn-primary md-btn-block">Reset password</a>
                    </div>
                </form>
            </div>

        </div>

    </div>