<div id="top_bar">
    <div class="md-top-bar">
        <ul id="menu_top" class="uk-clearfix">
            <li><a href="index.html"><i class="material-icons md-24">&#xE88A;</i></a></li>
            <li data-uk-dropdown>
                <a href="#">Forms</a>
                <div class="uk-dropdown">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a ui-sref="restricted.forms.regular">Regular Elements</a></li>
                        <li><a ui-sref="restricted.forms.advanced">Advanced Elements</a></li>
                        <li><a ui-sref="restricted.forms.file_upload">File Upload</a></li>
                        <li><a ui-sref="restricted.forms.validation">Validation</a></li>
                        <li><a ui-sref="restricted.forms.wizard">Wizard</a></li>
                        <li class="uk-nav-header">WYSIWYG Editors</li>
                        <li><a ui-sref="restricted.forms.wysiwyg_ckeditor.html">CKeditor</a></li>
                        <li><a ui-sref="restricted.forms.wysiwyg_tinymce.html">TinyMCE</a></li>
                    </ul>
                </div>
            </li>
            <li data-uk-dropdown>
                <a href="#">Components</a>
                <div class="uk-dropdown uk-dropdown-scrollable">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a ui-sref="restricted.components.accordion">Accordions</a></li>
                        <li><a ui-sref="restricted.components.buttons"> Buttons</a></li>
                        <li><a ui-sref="restricted.components.cards">Cards</a></li>
                        <li><a ui-sref="restricted.components.colors">Colors</a></li>
                        <li><a ui-sref="restricted.components.common">Common</a></li>
                        <li><a ui-sref="restricted.components.dropdowns">Dropdowns</a></li>
                        <li><a ui-sref="restricted.components.dynamic_grid">Dynamic Grid</a></li>
                        <li><a ui-sref="restricted.components.grid">Grid</a></li>
                        <li><a ui-sref="restricted.components.icons">Icons</a></li>
                        <li><a ui-sref="restricted.components.modal">Lightbox/Modal</a></li>
                        <li><a ui-sref="restricted.components.lists">Lists</a></li>
                        <li><a ui-sref="restricted.components.nestable">Nestable</a></li>
                        <li><a ui-sref="restricted.components.notifications">Notifications</a></li>
                        <li><a ui-sref="restricted.components.preloaders">Preloaders</a></li>
                        <li><a ui-sref="restricted.components.sortable">Sortable</a></li>
                        <li><a ui-sref="restricted.components.tables">Tables</a></li>
                        <li><a ui-sref="restricted.components.tables_examples">Tables Examples</a></li>
                        <li><a ui-sref="restricted.components.tabs">Tabs</a></li>
                        <li><a ui-sref="restricted.components.tooltips">Tooltips</a></li>
                        <li><a ui-sref="restricted.components.typography">Typography</a></li>
                    </ul>
                </div>
            </li>
            <li data-uk-dropdown="{justify:'#top_bar'}">
                <a href="#">Mega</a>
                <div class="uk-dropdown uk-dropdown-width-4">
                    <div class="uk-grid uk-dropdown-grid" data-uk-grid-margin>
                        <div class="uk-width-1-4">
                            <ul class="uk-nav uk-nav-dropdown uk-panel">
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Another item</a></li>
                                <li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Another item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Separated item</a></li>
                            </ul>
                        </div>
                        <div class="uk-width-1-4">
                            <div class="uk-accordion" data-uk-accordion="{showfirst:false}">
                                <h3 class="uk-accordion-title">Heading 1</h3>
                                <div class="uk-accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <h3 class="uk-accordion-title">Heading 2</h3>
                                <div class="uk-accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <h3 class="uk-accordion-title">Heading 3</h3>
                                <div class="uk-accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-2-4">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="http://localhost:37064/assets/img/avatars/avatar_02_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="http://localhost:37064/assets/img/avatars/avatar_07_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="http://localhost:37064/assets/img/avatars/avatar_06_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>