﻿<!DOCTYPE html>
<html ng-app="spaBase" document-events ng-click="onClick($event)" ng-keyup="onKeyUp($event)"
      ng-class="{ 'page_loading': pageLoading, 'page_loaded': pageLoaded, 'app_initialized': appInitialized && (!$state.is('login') && !$state.includes('error'))}">
<head>
    <!--<base href="http://localhost:37064/" />-->
    <meta charset="UTF-8">
    <title page-title ng-bind="page_title"></title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="http://localhost:37064/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://localhost:37064/assets/img/favicon-32x32.png" sizes="32x32">

    <!-- uikit  styles -->
    <link rel="stylesheet" href="http://localhost:37064/bower_components/uikit/css/uikit.almost-flat.min.css"
          media="all">
    <!-- flag icons -->
    <link rel="stylesheet" href="http://localhost:37064/assets/icons/flags/flags.min.css" media="all">

    <!-- GOOGLE WEBFONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic&subset=latin' rel='stylesheet'
          media="all">
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" media="all">

    <!-- JS -->
    <!-- common functions -->
    <script src="http://localhost:37064/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="http://localhost:37064/assets/js/uikit_custom.min.js"></script>

    <!-- ANGULAR -->
    <script src="http://localhost:37064/dist/angularComponents/angularComponents.js"></script>

    <!--<script src="http://localhost:37064/bower_components/oidc-angular/oidc-angular.js"></script>-->
    <!--<script src="http://localhost:37064/bower_components/angular-base64/angular-base64.js"></script>-->

    <!-- spaBase -->
    <script src="app/app.js"></script>
    <script src="app/app.factory.js"></script>
    <script src="app/app.service.js"></script>
    <script src="app/app.directive.js"></script>
    <script src="app/app.filters.js"></script>
    <script src="app/app.states.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/app.oc_lazy_load.js"></script>
    <script src="app/app.translations.js"></script>
    <!--<script src="dist/app/app.js"></script>-->

    <!-- main stylesheet -->
    <!--<link rel="stylesheet" href="assets/css/main.min.css" media="all" id="main_stylesheet">-->
    <link rel="stylesheet" href="http://localhost:37064/assets/main.min.css" media="all" id="main_stylesheet">

    <!--<script src="//kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"></script>

    <script src="//rawgit.com/kjartanvalur/angular-kendo-window/master/angular-kendo-window.js"></script>-->

</head>
<body class="{{main_theme}}" data-uk-observe ng-class="{
    'sidebar_main_active': primarySidebarActive && !miniSidebarActive && !topMenuActive && (!$state.is('login') && !$state.includes('error')),
    'sidebar_main_open': primarySidebarOpen && !miniSidebarActive && !topMenuActive && largeScreen && (!$state.is('login') && !$state.includes('error')),
    'sidebar_mini': miniSidebarActive && largeScreen && (!$state.is('login') && !$state.includes('error')),
    'sidebar_main_hiding': primarySidebarHiding,
    'sidebar_secondary_active': secondarySidebarActive && (!$state.is('login') && !$state.includes('error')),
    'top_bar_active': toBarActive && (!$state.is('login') && !$state.includes('error')),
    'page_heading_active': pageHeadingActive && (!$state.is('login') && !$state.includes('error')),
    'header_double_height': headerDoubleHeightActive && (!$state.is('login') && !$state.includes('error')),
    'main_search_active': mainSearchActive && (!$state.is('login') && !$state.includes('error')),
    'header_full': fullHeaderActive && (!$state.is('login') && !$state.includes('error')),
    'boxed_layout': boxedLayoutActive && (!$state.is('login') && !$state.includes('error')),
    'login_page': $state.is('login'),
    'error_page': $state.includes('error'),
    'uk-height-1-1': page_full_height,
    'footer_active': footerActive,
}" content-sidebar>
<div id="page_preloader" ng-hide="hidePreloader"><img src="http://localhost:37064/assets/img/page_preloader.gif"
                                                      alt=""/></div>

<div ui-view="main_header"></div>
<div ui-view id="main_view" ng-class="{'uk-height-1-1': page_full_height }"></div>
<div ui-view="main_sidebar" ng-hide="topMenuActive"></div>

</body>
</html>
