/* qms style switcher */
#qms_style_switcher {
  right: 0;
  top: 140px;
  background: @white;
  z-index: @header_main_zIndex - 10;
  box-sizing: border-box;
  margin-right: -246px;
  transition: margin 280ms @md_easing;
  &.switcher_active {
    margin-right: 0;
  }
  .switcher_app_themes {
    .reset_list;
    overflow: hidden;
    li {
      float: left;
      cursor: pointer;
      width: 36px;
      margin: 0 16px 16px 0;
      opacity: 0.5;
      transition: opacity 280ms @md_easing;
      span {
        display: block;
        padding: 0 4px;
        height: 24px;
        line-height: 24px;
        box-sizing: border-box;
        width: 50%;
        float: left;
      }
      &.active_theme {
        opacity: 1;
        position: relative;
        &:after {
          position: absolute;
          top: 0;
          left: 50%;
          content: '\e5ca';
          font-family: "Material Icons";
          font-size: 18px;
          display: block;
          color: @white;
          margin-left: -8px;
        }
      }
      &.app_style_default {
        .app_color_main {
          background: @theme_primary_color;
        }
        .app_color_accent {
          background: @accent_color;
        }
      }
      &.switcher_theme_a {
        .app_color_main {
          background: @app_theme_a_color;
        }
        .app_color_accent {
          background: @app_theme_a_colorAccent;
        }
      }
      &.switcher_theme_b {
        .app_color_main {
          background: @app_theme_b_color;
        }
        .app_color_accent {
          background: @app_theme_b_colorAccent;
        }
      }
      &.switcher_theme_c {
        .app_color_main {
          background: @app_theme_c_color;
        }
        .app_color_accent {
          background: @app_theme_c_colorAccent;
        }
      }
      &.switcher_theme_d {
        .app_color_main {
          background: @app_theme_d_color;
        }
        .app_color_accent {
          background: @app_theme_d_colorAccent;
        }
      }
      &.switcher_theme_e {
        .app_color_main {
          background: @app_theme_e_color;
        }
        .app_color_accent {
          background: @app_theme_e_colorAccent;
        }
      }
      &.switcher_theme_f {
        .app_color_main {
          background: @app_theme_f_color;
        }
        .app_color_accent {
          background: @app_theme_f_colorAccent;
        }
      }
      &.switcher_theme_g {
        .app_color_main {
          background: @app_theme_g_color;
        }
        .app_color_accent {
          background: @app_theme_g_colorAccent;
        }
      }
      &.switcher_theme_h {
        .app_color_main {
          background: @app_theme_h_color;
        }
        .app_color_accent {
          background: @app_theme_h_colorAccent;
        }
      }
      &.switcher_theme_i {
        .app_color_main {
          background: @app_theme_i_color;
        }
        .app_color_accent {
          background: @app_theme_i_colorAccent;
        }
      }
      &.switcher_theme_j {
        .app_color_main {
          background: @app_theme_j_color;
        }
        .app_color_accent {
          background: @app_theme_j_colorAccent;
        }
      }
    }
  }
}