<div class="uk-width-medium-1-1">
    <div class="uk-form-row" ng-show="field.field_data.visible">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <div class="uk-input-group">
                    <input id="{{field.field_name}}" name="{{field.field_name}}" type="checkbox" icheck
                           ng-required="field.field_data.required"
                           ng-disabled="!field.field_data.enabled"
                           ng-checked="field.field_data.field_value"
                           ng-model="field.field_data.field_value"
                    />
                    <label for="{{field.field_name}}" class="inline-label">{{field.field_title}}</label>
                </div>
            </div>
        </div>
    </div>
</div>