﻿<div class="uk-margin-large-top">
    <h2 class="heading_a">{{settings.form_title}}
        <span class="sub-heading">{{settings.form_description}}</span>
    </h2>
    <hr class="md-hr"/>
    <div class="uk-grid" data-uk-grid-margin id="formPreview">
    </div>
    <hr class="md-hr"/>
</div>
