<style>
    .bckHover {
        background-color: darkgrey;
    }

</style>
<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-medium-1-2 uk-row-first">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">Select <a ng-click="selectAll()" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right uk-margin-small-left"><i class="material-icons"></i></a></h3>

                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium uk-row-first">
                        <div ng-repeat="(key,value) in Selector1" ng-click="Select(Selector1[key], $index)" ng-class="{bckHover: hover}" style="font-weight: bold"
                             ng-mouseenter="hover = true"
                             ng-mouseleave="hover = false">
                            <div ng-repeat="(key,value) in Selector1[key]" >
                        <p style="cursor: pointer;" ng-if="key == columnName">
                            {{value}}
                        </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="md-card">
            <div class="md-card-content"><i class="fa fa-times" aria-hidden="true"></i>
                <h3 class="heading_a">Selected <a ng-click="deSelectAll()" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right uk-margin-small-left"><i class="material-icons">delete</i></a></h3>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium uk-row-first">
                        <div ng-repeat="(key,value) in Selector2" ng-click="deSelect(Selector2[key], $index)"ng-click="Select(Selector1[key], $index)" ng-class="{bckHover: hover}" style="font-weight: bold"
                             ng-mouseenter="hover = true"
                             ng-mouseleave="hover = false">
                            <div ng-repeat="(key,value) in Selector2[key]">
                                <p style="cursor: pointer;" ng-if="key == columnName">

                                    {{value}}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>