<a ng-click="openUploadWindow()" class="md-btn md-btn-twitter">
    <i class="uk-icon-file-archive-o uk-margin-remove"></i>
</a>
<a ng-click="openViewWindow()" class="md-btn md-btn-twitter"
   ng-style="{ 'background': (selected.length == 0 ) ? 'grey !important' : ''}">
    <i class="uk-icon-folder-o uk-margin-remove"></i>
</a>
