<div class="md-card uk-margin-large-bottom">
    <div class="md-card-content">
        <qms-table records="files" columns="columns" action-attr="actionKeyAttr" action-set="actions"
                   action-callback="actionCallback(value, action)"
                   pagination-callback="paginationCallback(currentpage, nextpage, pagesize)">
        </qms-table>
        <div class="uk-clearfix uk-margin-large-top">
            <button class="md-btn md-btn-primary uk-float-right" type="submit"
                    ng-click="SaveChanges()">
                Save
            </button>
        </div>
    </div>
</div>
