<div class="md-card uk-margin-large-bottom">
    <div class="md-card-content">
        <form id="wizard_advanced_form" class="uk-form-stacked">
            <wizard template="app/templates/wizard.tpl.html">
                <wz-step wz-title="{{ 'Upload Files' | translate }}" template="app/templates/wizard.step.tpl.html">
                    <h2 class="heading_a">File Upload</h2>
                    <hr class="md-hr"/>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2" ng-if="isValidity">
                            <div class="parsley-row">
                                <label for="validityStart">Date Start</label>
                                <input kendo-date-picker
                                       ng-model="validityStart" k-ng-model="validityStart" style="width: 50%;"
                                       id="validityStart"/>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2" ng-if="isValidity">
                            <div class="parsley-row">
                                <label for="validityEnd">Date End</label>
                                <input kendo-date-picker
                                       ng-model="validityEnd" k-ng-model="validityEnd" style="width: 50%;"
                                       id="validityEnd"/>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-1" ng-if="isDescription">
                            <div class="uk-form-row">
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-1">
                                        <div class="parsley-row">
                                            <label class="uk-form" for="description">Description</label>
                                            <textarea name="description" class="md-input" rows="3"
                                                      id="description" ng-model="description" md-input></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-1">
                            <div class="uk-form-row">
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-1">
                                        <div class="parsley-row">
                                            <input type="file" class="dropify" nv-file-select uploader="uploader"/><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-clearfix uk-margin-large-top">
                        <ul>
                            <li ng-repeat="item in uploader.queue">
                                Name: <span ng-bind="item.file.name"></span><br/>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit"
                                        ng-click="item.upload()">
                                    Upload
                                </button>
                            </li>
                        </ul>
                    </div>
                </wz-step>
                <wz-step wz-title="{{ 'My Files' | translate}}" template="app/templates/wizard.step.tpl.html">
                    <h2 class="heading_a">My Files</h2>
                    <hr class="md-hr"/>
                    <qms-table records="result" columns="columns" action-attr="actionKeyAttr" action-set="actions"
                               action-callback="actionCallback(value, action)"
                               pagination-callback="paginationCallback(currentpage, nextpage, pagesize)">
                    </qms-table>
                </wz-step>
            </wizard>
        </form>
    </div>
</div>
