<style>
    .selectize-input {
        background-color: #ececec !important;
    }
</style>
<div class="uk-overflow-container">
    <br>
    <div class="uk-width-medium-1-10" style="float:left">
        <input style="" type="text" config="selectize_a_config" options="selectize_a_data.options" ng-model="selectize_a" name="selectize_a" selectize />
    </div>
    <div class="uk-width-medium-1-5" style="float:right">
        <label>Search</label>
        <input type="text" class="md-input" md-input ng-model="search"/>
    </div>
    <br>
    <br>
    <table class="uk-table uk-table-nowrap">
        <thead>
        <tr>
            <th class="uk-width-2-10 uk-text-center" acl columns="columns" reference="{{key}}" ng-repeat="(key,value) in results[0]" ng-if="$index > 0">{{ key  | translate }}</th>
            <th class="uk-width-2-10 uk-text-center" acl columns="columns" reference="{{key}}" >{{ actionAttr  | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr ng-repeat="result in results" hierarchical-slide>-->
        <tr dir-paginate="result in results | filter: search | itemsPerPage: pageSize" total-items="totalRecords" current-page="pagination.current">
            <td acl columns="columns" reference="{{key}}" class="uk-text-center" ng-repeat="(key,value) in result" ng-if="$index > 0">{{((value | typeof ) == 'boolean') ? '' : (value)}}
                <span class="uk-badge uk-badge-success" ng-if="(value | typeof ) == 'boolean'">{{value ? 'Active' : 'Inactive' }}</span>
            </td >

            <!--Actions-->
            <td class="uk-text-center" ng-repeat="data in result" ng-if="$index == 0">
                <a  ng-repeat="(key, value) in actionSet" ng-click="actionCallback({value:result.actionRefId, action:key})"><i class="md-icon  material-icons">{{ value || '' }}</i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <dir-pagination-controls boundary-links="true" auto-hide="false" template-url="http://localhost:37064/app/templates/dirPagination.tpl.html" on-page-change="pageChanged(oldPageNumber, newPageNumber)"></dir-pagination-controls>

</div>