<div class="uk-form-row" ng-show="field.field_data.visible" name="{{field.field_name}}" id="{{field.field_name}}">
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
            <div class="parsley-row">
                <span class="icheck-inline" ng-repeat="button in field.field_data.buttons">
                    <input type="radio" name="{{button.value}}" id="radio_inline" icheck ng-model="field.field_data.field_value" value="{{button.value}}" />
                    <label for="{{button.value}}" class="inline-label">{{button.text}}</label>
                </span>
            </div>
        </div>
    </div>
</div>