<div class="uk-width-medium-1-1">
    <div class="uk-form-row" ng-show="field.field_data.visible">
        <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="parsley-row">
                    <label for="{{field.field_name}}">{{field.field_title}}</label>
                    <input
                            id="{{field.field_name}}"
                            name="{{field.field_name}}"
                            config="optionsConfigurations"
                            options="field.field_data.options"
                            ng-disabled="!field.field_data.enabled"
                            ng-required="field.field_data.required"
                            ng-model="field.field_data.field_value"
                            selectize/>
                </div>
            </div>
        </div>
    </div>
</div>