<div class="uk-width-medium-1-1">
    <div class="uk-form-row" ng-show="field.field_data.visible">
        <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="parsley-row">
                    <label for="{{field.field_name}}">{{field.field_title}}</label>
                    <textarea
                            name="{{field.field_name}}"
                            class="md-input"
                            rows="{{field.field_data.rows}}"
                            id="{{field.field_name}}"
                            ng-model="field.field_data.field_value"
                            ng-disabled="!field.field_data.enabled"
                            ng-required="field.field_data.required"
                            md-input>
                </textarea>
                </div>
            </div>
        </div>
    </div>
</div>