<div class="uk-width-medium-1-1">
    <div class="uk-form-row" ng-show="field.field_data.visible">
        <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="parsley-row">
                    <label for="{{field.field_name}}">{{field.field_title}}</label>
                    <input type="{{field.field_data.textFieldType}}"
                           name="{{field.field_name}}"
                           class="md-input"
                           id="{{field.field_name}}"
                           ng-maxlength="{{field.field_data.inputLength}}"
                           ng-model="field.field_data.field_value"
                           ng-disabled="!field.field_data.enabled"
                           ng-required="field.field_data.required"
                           md-input>
                </div>
            </div>
        </div>
    </div>
</div>