    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">Lists</h3>
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-large-1-3 uk-width-medium-1-2">
                            <ul class="md-list">
                                <li>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Consectetur sunt sint delectus dolorum sint enim.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Voluptatibus quia qui explicabo ab et aut.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Sint aperiam nemo est dolorum omnis est eius perspiciatis tempore.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-large-1-3 uk-width-medium-1-2">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Pariatur nihil autem ab magni corporis sequi iste aut reiciendis.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-success">&#xE158;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Ut qui facilis blanditiis expedita temporibus eveniet.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE8B2;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Et laboriosam exercitationem ut molestiae vel magnam nihil illum.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-large-1-3 uk-width-medium-1-2">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <input type="checkbox" icheck ng-checked="true" ng-model="icheck_list_a" />
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Cum fugiat qui consequatur optio sit sequi amet non.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <input type="checkbox" icheck ng-model="icheck_list_b"/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Quia magni adipisci odio dolorum explicabo dolorem ut.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <input type="checkbox" icheck ng-model="icheck_list_c"/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Eaque est quis soluta suscipit et sed atque laborum.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-3">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" ng-src="http://localhost:37064/assets/img/avatars/avatar_02_tn.png" alt="" add-image-prop/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Sint quia aut eveniet aut tempora mollitia non qui sint nulla consequatur.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" ng-src="http://localhost:37064/assets/img/avatars/avatar_07_tn.png" alt="" add-image-prop/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Vitae nam alias tempora minima voluptates est facilis aut.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" ng-src="http://localhost:37064/assets/img/avatars/avatar_06_tn.png" alt="" add-image-prop/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Dolores eius culpa dicta et neque.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <ul class="md-list md-list-addon md-list-right">
                                <li>
                                    <a href="#" class="md-list-addon-element"><i class="md-list-addon-icon material-icons uk-text-danger">&#xE163;</i></a>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Cum fugiat qui consequatur optio sit sequi amet non.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE884;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Voluptatibus quia qui explicabo ab et aut.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE8DC;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Heading</span>
                                        <span class="uk-text-small uk-text-muted">Dolores eius culpa dicta et neque.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>